* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Implementar Sass e adicionar o README.md no projeto */

#profile-pic {
  width: 200px;
  padding: 5px;
  border: 2px solid orangered;
  border-radius: 50%;
}
